.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-cards .card {
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
  padding: 24px 16px;
  position: static;
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

.categories-cards .card header {
  display: block;
  background-color: transparent;
  position: block;
  padding: 0;
  margin-bottom: 24px;
}

.categories-cards .card header h4 {
  font-size: 28px;
  font-stretch: condensed;
  font-weight: var(--title-weigth);
  margin: 24px 0 0;
}

.categories-cards .card img {
  font-stretch: condensed;
  margin: 24px 0 0;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories-cards .card {
    width: 420px;
    height: 308px;
  }

  .categories-cards .card header h4 {
    font-size: 48px;
    font-weight: var(--title-weigth);
    margin: 8px 0 0;
  }

  @media screen and (min-width: 1440px) {
    .categories-cards .card {
      width: 588px;
      height: 308px;
    }
  }

  @media screen and (min-width: 1920px) {
    .categories-cards {
      width: 1250px;
      margin: 0 auto;
    }
  }
}
