@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;
  

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weigth: 700;
  --text-weigth: 400;
  --menu-weigth: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}
.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weigth);
  margin-top: 88px;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  gap: 32px;
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
  font-weight: var(--title-weigth);
  border-radius: 8px;
  text-decoration: none;
  line-height: 64px;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .button:hover{
    background-color: var(--primary-color);
  }
  
}
