header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 38px 48px;
}

.header__logo-link {
  margin: 37px 0 0 48px;
}

.header__logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  object-fit: contain;
}

.header__menu-nav {
  margin-top: 42px;
  gap: 1rem;
}

.header__menu {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

nav{
    display: none;

}