header {
  width: 100%;
  height: 138px;
  background-color: var(--background-tertiary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.header__logo-link {
  margin: 37px 0 0 48px;
}

.header__logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  object-fit: contain;
}

.header__menu {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
