header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  align-items: flex;
  justify-content: space-between;
  padding: 38px 48px;
}

.header__logo-link {
  margin: 37px 0 0 48px;
}

.header__logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  object-fit: contain;
}

.header__menu-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
  }
  
.header__menu {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}
nav{
    display: none;

}