.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers-cards .card {
  color: var(--text-secondary-color);
  background-color: black;
  padding: 24px 16px;
  position: static;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: block;
  padding: 0;
  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weigth);
}
.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weigth);
  margin: 8px 0 0;
}

.offers-cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
  font-weight: var(--title-weigth);
}

.offers-cards .card.japao {
  background-image: url(../img/bg-fundo-card-japao.png);
}
.offers-cards .card.san-andreas {
  background-image: url(../img/bg-fundo-card-san-andreas.png);
}
.offers-cards .card.paraiba {
  background-image: url(../img/bg-fundo-card-paraiba.png);
}
.offers-cards .card.manaus {
  background-image: url(../img/bg-fundo-manaus.png);
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .offers-cards .card {
    width: 420px;
    height: 308px;
  }
  .offers-cards .card header p {
    font-size: 20px;
    font-weight: var(--text-weigth);
  }
  .offers-cards .card header h3 {
    font-size: 48px;
    font-weight: var(--title-weigth);
    margin: 8px 0 0;
  }

  .offers-cards .card header span {
    font-size: 40px;
    margin-top: 24px;
    display: inline-block;
  }

  .offers-cards .card.japao {
    background-image: url(../img/bg-fundo-card-japao.png) no-repeat;
    background-size: cover;
  }
  .offers-cards .card.san-andreas {
    background-image: url(../img/bg-fundo-card-san-andreas.png) no-repeat;
    background-size: cover;
  }
  .offers-cards .card.paraiba {
    background-image: url(../img/bg-fundo-card-paraiba.png) no-repeat;
    background-size: cover;
  }
  .offers-cards .card.manaus {
    background-image: url(../img/bg-fundo-manaus.png) no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 1440px) {
    .offers-cards .card {
      width: 588px;
      height: 308px;
    }
  }

  @media screen and (min-width: 1920px) {
    .offers-cards {
      width: 1250px;
      margin: 0 auto;
    }
  }
}
