background
botoes 
cores de texto
 
:root {
   --background-primary-color: #ffffff;
   --background-secondary-color: #F5F5F5;
   --background-tertiary-color: #000000;
   
   --buttom-primary-color: #8F0101;
   --buttom-secondary-color: #B81515;

   --text-primary-color: #222222
   --text-secondary-color: #FFFFFF;
}


/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
